.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  color: white;
  padding: 20px;
  background-color: darkslategray;
}

.container button {
  background-color: blueviolet;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 500;
  border-radius: 10px;
}

.container ul li {
  list-style-type: none;
}

.container ul li button {
  margin-left: 20px;
}
